
<label for="choices_number">How many answer options do you want?</label>
<select type="text" name="choices_number" id="choices_number">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
